<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <form [formGroup]="rgbForm">



                <div formArrayName="rgbValues">
                  
                    <div class="scrollable-category-list" style="overflow-x:hidden ;">


                    <table class="table">
                        <thead>

                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Green</th>
                                <th scope="col">Red</th>
                                <th scope="col">Blue</th>
                                <th scope="col">Action</th>
                                <th class="col">Color</th>
                                <th class="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of rgbValues.controls; let i = index" [formGroupName]="i">
                                <td>{{ i }}</td>
                                <td><input type="number" formControlName="green" min="0" max="100"></td>
                                <td><input type="number" formControlName="red" min="0" max="100"></td>
                                <td><input type="number" formControlName="blue" min="0" max="100"></td>
                                <td><button type="button" class="btn btn-primary" (click)="onEdit(i)">Edit</button></td>
                                <!-- <td><input type="color" id="color-input-{{i}}"
                                [value]="'rgb(' + group.value.r + ',' + group.value.g + ',' + group.value.b + ')'"></td> -->
                                <td>

                                    <input type="color" name="" id="">


                                </td>
                                <td><button type="button" class="btn btn-primary">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag"
                style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>
    </div>
</div>